@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif'), local('BreeSerif-Regular'), url(http://fonts.gstatic.com/s/breeserif/v5/LQ7WLTaITDg4OSRuOZCps_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/breeserif/v5/LQ7WLTaITDg4OSRuOZCpsxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	text-decoration: none;
	width:100%;
	height:100%;
}

.pa{
	position:absolute;
}

.pr{
	position:relative;
}
.pr.header {
	width:100%;
	background: #141414;
	height: 30px;
	border-bottom: 1px solid #c1c1c1;
}

.pr.container{
	background-image: url('gmbr/bandung.jpg');
	background-repeat: repeat-y;
	background-size: 100%;
	height:100%;
	padding:4px;
	border:2px solid black;
}

.pr.footer {
	width:100%;
	height:50px;
	bottom:0%;
	display:block;
	border-top: 1px solid #c1c1c1;
	background-image: url('gmbr/footer.png');
	z-index:2;
}

.rk{
	color: #faffd2;
	font-size: 20px;
	font-weight: bold;
	padding: 2px 2px 2px 4px;
}

img.pa.logo{
	height:25px;
	right:3%;
	top:2px;
}

.pr.main {
	max-width:600px;
	height:100%;
	margin:0 auto;
	z-index:2;
}

.pa.trans{
	width:100%;
	height:100%;
	margin:0 auto;
	background:#2f2f2f;
	opacity:0.6;
	z-index:-1;
	margin-bottom:4px;
}

.judul{
	padding : 3px 10px 2px 10px;
	color: #cc5044;
	font-size: 18px;
	font-weight: bold;
	z-index:2;
}

.teks{
	padding : 0px 0px 8px 25px;
	color: #cecece;
	font-size: 13px;
	z-index:2;
}

table { 
	font: 12px/24px Verdana, Arial, Helvetica, sans-serif; 
	border-collapse: collapse; 
	width: 0 auto; 
	margin:4px 4px 2px 4px;
} 

th { 
	border: 1px solid #CCC; 
	padding: 0 0.5em; 
	text-align: center; 
	background-color:#212e69;
} 

td { 
	border: 1px solid #CCC; 
	padding: 0 0.5em; 
	background-color:#a6adcc;
	color: #181818;
}

.pr.login-form {
	max-width: 300px;
	margin:0 auto;

	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.atas {
	padding: 15px 30px 15px 30px;
}

.atas h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.atas span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

.content {
	padding: 0 30px 25px 30px;
}

.content .input {
	width: 188px;
	padding: 10px 20px;
	margin-bottom:5px;
	margin-top:2px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.input.password{
	margin-top: 20px;
}

.content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.content .input:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.content input:focus + div{
	left: -46px;
}

.input, .user-icon, .pass-icon, .button, .register {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

.bawah {
	padding: 10px 40px 8px 15px;
	overflow: auto;
	
	background: #dfd4d4;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

.button {	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #cc5044;
	border: 1px solid #a92f23;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.button.button1 {
	float:right;
	padding: 11px 25px;
}

.button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.button:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

.register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.register:hover {
	color: #a92f23;
}

.register:focus {
	position: relative;
	bottom: -1px;
}
